{% extends "base.html" %}

{% block title %}
<h1> {% raw new.title %}</h1>
{% end %}

{% block header %}
{% end %}

{% block content %}
<h1> {% raw new.title %}</h1>
<table>
    <thead>
        <tr>
            <th>发表人</th>
            <th>日期</th>
            <th>来源</th>
            <th>原始链接</th>
            <th>sha1</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{ new.publisher }}</th>
            <th>{{ new.date }}</th>
            <th><a href="http://ssdut.dlut.edu.cn{{ new.source_link }}">{{ new.source }}</a></th>
            <th><a href="http://ssdut.dlut.edu.cn{{ new.link }}">{{ new.link }}</a></th>
            <th>{{ new.sha1 }}</th>
        </tr>
    </tbody>
</table>
<div>{% raw new.body %}</div>
{% end %}
